<h1>JQureyで遊ぶ</h1>
<ul>
  <li><%= link_to 'トップページ', :root %></li>
  <li><%= link_to 'スライダーで遊ぶ', :users %></li>
  <li><%= link_to 'リサイズで遊ぶ', :administrators %></li>
  <li><%= link_to '座標で遊ぶ', :announcements %></li>
  <li><%= link_to 'Raphealで遊ぶ', :packages %></li>
</ul>